<header class="the-header">
	<div class="unit-head">
		<div class="unit-inner unit-head-inner">
			<p class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></p>
			<nav class="nav-global">
				<ul>
					<li class="archive"><a href="/archive.html">archive</a></li>
					<li class="page"><a href="/pages.html">pages</a></li>
					<li class="category"><a href="/categories.html">categories</a></li>
					<li class="tag"><a href="/tags.html">tags</a></li>
				</ul>	
			</nav>
		</div><!-- unit-inner -->
	</div><!-- unit-head -->
</header>
