<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="http://stephband.info/css/template.min.css" />
	<link rel="stylesheet" type="text/css" href="http://stephband.info/css/template.theme.min.css" />
	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/rainbow.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/jquery.parallax.css" />
    <link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">

	<style type="text/css" media="screen, projection">
		#port {
			background: rgb(219, 228, 200);
			margin: 1.5em 0px;
			overflow: hidden;
			position: relative;
			height: 180px;
			max-width: 1400px;
			margin-left: auto;
            margin-right: auto;
		}
	</style>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="{{ ASSET_PATH }}/js/underscore-min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.parallax.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/waypoints.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/waypoints-sticky.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/md5.js"></script>
	<script src="{{ ASSET_PATH }}/js/ICanHaz.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/modernizr.custom.js"></script>
	{% raw %}
	<script id="user" type="text/html">
				<div class="gcard" style="display: block; opacity: 1; float:right; margin-left:15px;">
				<div class="grav-inner gcard-about">
					<div class="grav-grav">
						<a href="http://gravatar.com/matt" target="_blank"><img src="{{ thumbnailUrl }}?size=100" width="100" height="100"></a>
					</div>
					<div class="grav-so">
					<span class="grav-stackicon" />
					<span class="grav-stacklogin"><a href="http://stackoverflow.com/users/{{ user_id }}" target="_blank">{{ display_name }}</a></span>
					<span class="grav-stackrep"><a href="http://stackoverflow.com{{ user_reputation_url }}" target="_blank">{{ rep }}</a></span>
					<span class="grav-stack-silverbadge" />
					<span class="grav-stack-silverbadge-count">{{ badge_counts.silver }}</span>
					<span class="grav-stack-bronzebadge" />
					<span class="grav-stack-bronzebadge-count">{{ badge_counts.bronze }}</span>
					</div>
					<div class="grav-info">
						<h4><a href="{{ profileUrl }}" target="_blank">{{ name.givenName }} {{ name.formatted }}</a></h4>
						<p class="grav-loc">
							{{ currentLocation }}
						</p>
						<p class="grav-about">
							{{ aboutMe }} 
						</p>
						<div class="grav-view-complete-button">
							<a href="{{ linkedInUrl }}" target="_blank" class="grav-view-complete">View Complete Profile</a>
						</div>
						
					</div>
					<div style="clear:both">
					</div>
				</div>
				<div class="grav-cardarrow" style="height: 148.5px; right: auto; left: -7px; background-position: 0px 25px; ">
				</div>
			</div>
    </script>
    {% endraw %}
	<script type="text/javascript">
	
	function addCommas(nStr)
    {
	    nStr += '';
	    x = nStr.split('.');
	    x1 = x[0];
	    x2 = x.length > 1 ? '.' + x[1] : '';
	    var rgx = /(\d+)(\d{3})/;
	    while (rgx.test(x1)) {
		    x1 = x1.replace(rgx, '$1' + ',' + '$2');
	    }
	    return x1 + x2;
    }

		jQuery(document).ready(function(){
			// Declare parallax on layers
			jQuery('.parallax-layer').parallax({
				mouseport: jQuery("#port")
			});
			var mailhash = md5("{{ site.author.email }}");
			
            $.when($.getJSON("http://api.stackoverflow.com/1.1/users/{{ site.author.soid }}?jsonp=?"),
                 $.getJSON("http://pl.gravatar.com/" + mailhash + ".json?callback=?")).then(function(so, gravatar){
                var soData = so[0].users[0];
                var gravData = gravatar[0].entry[0];
                var data = _.extend(soData, gravData);
                console.log(data);
                data.linkedInUrl = data.accounts[2].url;
                data.rep = addCommas(data.reputation.toString());
                data.ASSET_PATH = "{{ ASSET_PATH }}";
                $(ich.user(data)).prependTo('.bd');
                $(".grav-about").html($(".grav-about").text().substring(1).replace(/\n/g, '<br />'));
                $('.gcard').waypoint('sticky', {offset: 15});
            });
		});
	
	</script>
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<p class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></p>
				<nav class="nav-global">
					<ul>
						<li class="archive"><a href="/archive.html">archive</a></li>
						<li class="page"><a href="/pages.html">pages</a></li>
						<li class="category"><a href="/categories.html">categories</a></li>
						<li class="tag"><a href="/tags.html">tags</a></li>
					</ul>	
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
</div><!-- page -->
<script>
	(function(d, s) {
		var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.src = url; js.id = id;
		fjs.parentNode.insertBefore(js, fjs);
		};
	load('//platform.twitter.com/widgets.js', 'tweetjs');
	// load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
	// load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
	}(document, 'script'));
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>

  {% include JB/analytics %}
</body>
</html>
