<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
        <div id="port">
        <!-- Seven image layers, each layer slightly bigger than the one behind, making 'closer' layers move faster. -->
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/back.png" alt="" style="width:1700px; height:160px;"/>
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/moon.png" alt="" style="width:1360px; height:122px;"/>
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/stars.png" alt="" style="width:1520px; height:137px;"/>
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/stars2.png" alt="" style="width:1680px; height:151px;"/>
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/far_landscape.png" alt="" style="width:1840px; height:166px;"/>
            <img class="parallax-layer" src="{{ ASSET_PATH }}img/landscape.png" alt="" style="width:2000px; height:180px;"/>
			
        <!-- Rounded corners -->
            <img src="{{ ASSET_PATH }}img/corner_dark_tl.png" class="tl" />
            <img src="{{ ASSET_PATH }}img/corner_dark_tr.png" class="tr" />
            <img src="{{ ASSET_PATH }}img/corner_dark_bl.png" class="bl" />
            <img src="{{ ASSET_PATH }}img/corner_dark_br.png" class="br" />
        </div>
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
			

			
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
